body {
  background-image: url(../images/oignon2.jpg);
  text-align: center;
  background-attachment: fixed;
  color: white;
  text-shadow: 2px 2px black;
}

li {
  list-style: none;
}

title {
font-family: monospace;
font-size: 40px;
border-bottom: 1px dotted green;
}

h6 {
font-size: 30px;
}

a {
font-size: 22px;
font-family: courier;
color : lightgreen;
text-shadow: 2px 2px black;
}
